/* styles/CourseCard.css */
.card {
  text-decoration: none;
  transition: transform 0.2s, box-shadow 0.2s, border 0.2s;
  display: block;
  border: 1px solid transparent;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card img {
  object-fit: cover; /* Ensures the image covers the entire area */
  height: 200px; /* Adjust the height as necessary */
  width: 100%; /* Ensures the image width matches the container */
}
