@tailwind base;
@tailwind components;
@tailwind utilities;


.ring-transparent {
    --tw-ring-opacity: 0;
    --tw-ring-color: transparent;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow, 0 0 #0000);
  }